<!-- main -->
<div class="asyncData"></div>
<!-- /main -->
<!-- tabs -->
<ul id="configTabs" class="nav nav-tabs bottom30">
  <li role="presentation" id="tabGeneral" class="{active}configTab"><a href="javascript:;">{tr:general}</a></li>
  <li role="presentation" id="tabTrading" class="{active}configTab"><a href="javascript:;">{tr:trading}</a></li>
  <li role="presentation" id="tabTradingDev" class="{active}configTab"><a href="javascript:;">{tr:tradingDev}</a></li>
</ul>
<div id="tabContent" class="bottom30"></div>
<!-- /tabs -->
<!-- general -->
<div class="bottom30">
  <span id="tradingModeCtrl" class="right10">
    <span>{tr:tradingMode}{tr:colon}</span>
  <select id="tradingMode" name="tradingMode" class="multiSel"></select>
  </span>
  <span>{tr:config}{tr:colon} </span>
  <select id="configs" class="multiSel" name="configs"></select>
  <button id="copyConfig" class="btn btn-primary" type="button" name="copyConfig">{tr:copyConfig}</button>
  <button id="deleteConfig" class="btn btn-danger" type="button" name="deleteConfig">{tr:deleteConfig}</button>
</div>
<div id="copyConfigPanel" class="bottom30" style="display: none">
  <form id="copyConfigForm" class="row form-inline" action="" method="post" enctype="application/x-www-form-urlencoded">
    <div class="form-group right5">
      <label for="copyConfigName" class="control-label col-sm-3">{tr:name}{tr:colon}</label>
      <div class="col-sm-9">
        <input id="copyConfigName" type="text" class="form-control" name="copyConfigName" value="" placeholder="{tr:copyConfPlace}">
      </div>
    </div>
    <div class="form-group">
      <button id="saveConfigFile" class="btn btn-success" type="submit" name="saveConfigFile" style="display: none">{tr:save}</button>
    </div>
    <div class="form-group">
      <button id="cancelNewConfigFile" class="btn btn-warning" type="button" name="cancelNewConfigFile">{tr:cancel}</button>
    </div>
  </form>
</div>
<div class="bottom30">
  <span class="traderCtrl">
    <span class="left10">{tr:trader}{tr:colon} </span>
    <select id="traders" class="multiSel" name="traders"></select>
</span>
</div>
<div class="checkbox bottom30">
  <label id="debugCtrls"><input type="checkbox" name="debug" value="" id="debug">{tr:debugMode}</label>
  <label id="devModeCtrls"><input type="checkbox" name="devMode" value="" id="devMode">{tr:devMode}</label>
  <label id="restoreCfgCtrls"><input type="checkbox" name="restoreCfg" value="" id="restoreCfg">{tr:restoreCfg}</label>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">{tr:exchangeKeys}</div>
  <div class="panel-body">
    <form id="configExchangeForm" class="row form-horizontal" action="" method="post" enctype="application/x-www-form-urlencoded">
      <div class="form-group bottom20">
        <label for="exchanges" class="control-label col-sm-3">{tr:exchange}{tr:colon}</label>
        <div class="col-sm-9">
          <select id="exchanges" class="multiSel" name="exchanges"></select>
        </div>
      </div>
      <div class="panel panel-default bottom20">
        <div class="panel-heading">{tr:apiKey}</div>
        <div class="panel-body">
          <div class="form-group">
            <label for="apiKey" class="control-label col-sm-3">{tr:apiKey}{tr:colon}</label>
            <div class="col-sm-9">
              <input id="apiKey" type="text" class="form-control" name="apiKey" value="" required autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label for="apiSecret" class="control-label col-sm-3">{tr:apiSecret}{tr:colon}</label>
            <div class="col-sm-9">
              <input id="apiSecret" type="text" class="form-control" name="apiSecret" value="" placeholder="{tr:secretOnce}" required autocomplete="off">
            </div>
          </div>
        </div>
      </div>
      <div id="key2Panel" class="panel panel-default bottom20">
        <div class="panel-heading">{tr:apiKey2}</div>
        <div class="panel-body">
          <p>{tr:twoKeys}</p>
          <div class="form-group">
            <label for="apiKey2" class="control-label col-sm-3">{tr:apiKey}{tr:colon}</label>
            <div class="col-sm-9">
              <input id="apiKey2" type="text" class="form-control" name="apiKey2" value="" required autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label for="apiSecret2" class="control-label col-sm-3">{tr:apiSecret}{tr:colon}</label>
            <div class="col-sm-9">
              <input id="apiSecret2" type="text" class="form-control" name="apiSecret2" value="" placeholder="{tr:secretOnce}" required autocomplete="off">
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button id="saveKey" class="btn btn-success" type="submit" name="saveKey" style="display: none">{tr:save}</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">{tr:notifications}</div>
  <div class="panel-body">
    <form id="notificationsForm" class="row form-horizontal" action="" method="post" enctype="application/x-www-form-urlencoded">
      <div class="form-group bottom20">
        <label for="notificationMethod" class="control-label col-sm-2">{tr:notificationMethod}{tr:colon}</label>
        <div class="col-sm-6">
          <select id="notificationMethod" class="multiSel" name="notificationMethod"></select>
        </div>
        <div class="col-sm-4">
          <a id="notificationPushoverLink" target="_blank" href="https://pushover.net/">{tr:installApp}</a>
        </div>
      </div>
      <div class="panel panel-default bottom20">
        <div id="" class="panel-heading notificationKeyTxt">{tr:pushoverKey}</div>
        <div class="panel-body">
          <div class="form-group">
            <label for="notificationKey" class="control-label col-sm-3"><span class="notificationKeyTxt">{tr:pushoverKey}</span>{tr:colon}</label>
            <div class="col-sm-9">
              <input id="notificationKey" type="text" class="form-control" name="notificationKey" value="" required>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button id="saveNotification" class="btn btn-success" type="submit" name="saveNotification" style="display: none">{tr:save}</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- /general -->
<!-- jsonView -->
<div class="bottom20 asyncData">
  <button id="saveConfig" class="left10 btn btn-success" type="button" name="saveConfig" style="display: none;">{tr:saveChanges}</button>
  <button id="showCurrencies" class="left10 btn btn-default" type="button" name="showCurrencies">{tr:showCurrencies}</button>
</div>
<div class="bottom10">
  {tr:configEditMsg}<br>
  {tr:backtestingCfgChange}<br>
  <a target="_blank" href="https://wolfbot.org/strategies/">{tr:strategyOverview}</a>
</div>
<div id="tradeSettingsEditor"></div>
<!-- /jsonView -->
<!-- editor -->
<div class="bottom20">
  <button id="saveConfig" class="left10 btn btn-success" type="button" name="saveConfig" style="display: none;">{tr:saveChanges}</button>
</div>
<div class="bottom10">
  {tr:configEditMsg}<br>
  {tr:backtestingCfgChange}<br>
  <a target="_blank" href="https://wolfbot.org/strategies/">{tr:strategyOverview}</a>
</div>
<div id="editor"></div>
<!-- /editor -->