<!-- main -->
<h1 class="bottom20">{tr:welcomeTo} {tr:siteName}</h1>
<h2 class="bottom20">{tr:firstSteps}</h2>
<div id="startWizard">
  <div class="panel panel-primary">
    <div class="panel-heading">{tr:tradingFirst}</div>
    <div class="panel-body" style="display: none">
      {tr:tradingFirstTxt}
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">{tr:arbitrageFirst}</div>
    <div class="panel-body" style="display: none">
      {tr:arbitrageFirstTxt}
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">{tr:lendingFirstFirst}</div>
    <div class="panel-body" style="display: none">
      {tr:lendingFirstTxt}
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">{tr:developerFirst}</div>
    <div class="panel-body" style="display: none">
      {tr:developerFirstTxt}
    </div>
  </div>
</div>
<!-- /main -->