<!-- message -->
<div role="alert" class="alert alert-{type} alert-dismissible">
  <button type="button" data-dismiss="alert" aria-label="{tr:close}" class="close">
    <span aria-hidden="true">×</span>
  </button><i aria-hidden="true" class="fa fa-info-circle"></i>
  <span class="alertText">{text}</span>
</div>
<!-- /message -->
<!-- popupWindow -->
<div id="popupWnd">
  <span class="button b-close"><span>X</span></span>
  <div class="popupWndContent"></div>
</div>
<!-- /popupWindow -->
<!-- noChartData -->
<div>
  <span>{noChartData}</span>
</div>
<!-- /noChartData -->
<!-- classDiv -->
<div class="{className}">
  {text}
</div>
<!-- /classDiv -->
<!-- simpleImg -->
<img src="{src}" alt="{title}" title="{title}">
<!-- /simpleImg -->
<!-- scrollContainer -->
<div class="scrollContainer" style="max-height: {height}px;">
  {text}
</div>
<!-- /scrollContainer -->
<!-- asyncWait -->
<i class="asyncWait fa fa-spinner fa-pulse fa-4x fa-fw bottom10"></i>
<!-- /asyncWait -->
<!-- disablePage -->
<div>
  <div id="modal-background"></div>
  <div id="modal" class="modal">
    <div class="modal-inner">
      <h2>{title}</h2>
      <p>{text}</p>
    </div>
  </div>
</div>
<!-- /disablePage -->
<!-- error -->
<h1>{error}</h1>
<h1>{msg}</h1>
<pre>{stack}</pre>
<!-- /error -->
<!-- controllerWrap -->
<div id="{controllerName}">{html}</div>
<!-- /controllerWrap -->
<!-- time -->
<span class="dateTime" data-time="{timestamp}">{time}</span>
<!-- /time -->
<!-- sortSpan -->
<span data-sort="{timestamp}">{time}</span>
<!-- /sortSpan -->
<!-- classSpan -->
<span class="{className}">{text}</span>
<!-- /classSpan -->
<!-- selectOpt -->
<option value="{value}"{selected}>{title}</option>
<!-- /selectOpt -->
<!-- link -->
<a id="{id}" href="{href}" title="{title}">{title}</a>
<!-- /link -->