<!-- editOverlay -->
<div id="modal-config-dialog">
  <div id="modal-background"></div>
  <div id="modal" class="modal">
    <div class="modal-inner">
      <div class="top5"></div>
      <button id="saveStratConfig" class="left10 btn btn-success" type="button" name="saveStratConfig" style="display: none;">{tr:saveChanges}</button>
      <button id="cancelStratConfig" class="left10 btn btn-danger" type="button" name="cancelStratConfig">{tr:cancel}</button>
      <h2>{tr:strategy}{tr:colon}{strategyName}</h2>
      <div id="stratConfError" class="red top10"></div>
      <div id="editor" class="top20"></div>
    </div>
  </div>
</div>
<!-- /editOverlay -->